
*{
    margin: 0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.head{
    border-bottom:2px solid gray;
    padding:10px
}
.links ul,li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.head h1{
    display: inline;
    color: #ff7252;
    font-weight: 800;
}
a{
    text-decoration: none;
    color: #707070;
}
.links{
    display:inline;
    position:relative;
    left:55%
}
.links a:hover{
    color:#ff7252 !important;
}
.container{
    width:fit-content;
    margin:auto;
    margin-top: 5%;
    color: #707070;
    border-radius: 20px;
    border:2px solid #707070;
    padding:2rem;

}
.container a, p{
    text-align:center;
}
.container a{
    color:#ff7252
}
.container a:hover{
    color: #a14530;
}
.container h2{
    color: #36213E;
    text-align: center;

}
.container input[type="submit"]{
    border: none;
    border-radius: 40px;
    background-color: #ff7252;
    color: white;
    margin-bottom: 2%;
    padding:10px;
    font-size: 200%;
    width: 50%;
    display: block;
    margin: 1% auto 0;
    font-size: 20px;
    
}
.container input[type="submit"]:hover{
    background-color: #a14530;
}
.container input[type="text"], .container input[type="password"]{
    border-radius: 50px;
    border:2px #707070 solid;
    color: #36213E;
    height: 40px;
    padding:10px;
    width:100%;
    margin:0 auto;
    margin-top: .5rem;
    font-size: 18px;
}

.container input[type="text"]:focus, .container input[type="password"]:focus,#show:focus{
  border: #ff7252 solid 2px;
  outline-width: 0;
}
.mess p{
    text-align: center;
    font-size: 25px;
}
.container #show{
    background-color: transparent;
    border: none;
    display: inline;
    margin-left: -30px;
    font-size: 20px;
    color:#707070;

}
