@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}
.head{
    border-bottom:2px solid gray;
    padding:10px
}
.links ul,li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.head h1{
    display: inline;
    color: #ff7252;
}
a{
    text-decoration: none;
    color: #707070;
}
.links{
    display:inline;
    position:relative;
    left:55%
}
.links a:hover{
    color:#ff7252 !important;
}
.container{
    width:30%;
    margin:auto;
    margin-top: 12%;
    color: #707070;
    border-radius: 20px;
    border:2px solid #707070;
    text-align: center;
}
.container h1{
    color: #36213E;

}
.container input[type="submit"]{
    border: none;
    border-radius: 40px;
    background-color: #ff7252;
    color: white;
    margin-bottom: 2%;
    padding:10px;
    margin-left: 10px;
    font-size: 200%;
    
}
.container input[type="submit"]:hover{
    background-color: #a14530;
}
.container .que{
    font-size: 60px;
}
.description{
color: #707070;
text-align: center;
font-size: 30px;
}
footer{
    background-color: #36213E;
    text-align: center;
    color: white;
    padding: 30px;
    width:100%;
    position: absolute;
    box-sizing: border-box;
    bottom:0;
    
}